{% extends "main/base.html" %}
{% block content %}
    
    <div class="col-md-12">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 offset-2">
                    <form method="get" action="/search">
                        <div class="input-group">
                            <input type="search" name="query" class="form-control form-control-lg" id="search" placeholder="Search" />
                            <div class="input-group-append">
                            <button class="btn btn-primary btn-lg" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card my-2">
                    <img class="image-thumbail" src="{{post.ImgURL}}" alt="image">

                    <div class="card-body">
                        <h4>{{post.ImgName}}</h4>
                    </div>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-primary btn-sm m-1">View</a>
                </div>
            </div>
            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}
        </div>
        <br><br>
    {% if is_paginated %}

    	{% if page_obj.has_previous %}
    		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    		<a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
    	{% endif %}

    	{% for num in page_obj.paginator.page_range %}
    		{% if page_obj.number == num %}
    			<a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>

    		{% elif num < page_obj.number|add:'3' %}
    			<a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
    		{% endif %}

    	{% endfor %}

    	{% if page_obj.has_next %}
    		<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
    		<a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    	{% endif %}

    {% endif %}
    </div>
{% endblock content %}